<div class="container my-4">
    <div class="row">
        <div class="col">
            <app-custom></app-custom>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <app-custom-with-cli></app-custom-with-cli>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <app-databindingassignment></app-databindingassignment>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-structuraldirective></app-structuraldirective>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col">
            <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBluePrintAdded($event)"></app-cockpit>
        </div>
        <div class="col">
            <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement"></app-server-element>
        </div> -->
    </div>
</div>